@import 'static/header.css';
@import 'static/footer.css';
@import 'normalize.css';
@import 'static/vars.css';
@import 'static/default.css';

/* modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, .4);
}
.modal-content {
    background-color: #fefefe;
    margin: 80px auto;
    padding: 24px;
    border: 1px solid rgba(0,0,0, .2);
    width: 408px;
    height: 584px;
    border-radius: 4px;
}
.close-wrapper {
    display: flex;
    justify-content: flex-end;
}
.close {
    color: #aaa;
    font-size: 18px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0,0,0, .1);
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color-cornflower);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal__title {
    padding-block: 24px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .32px;
    text-align: center;
}

.modal-form-input__name,
.privacy-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.36px;
    margin-bottom: 4px;
    color: var(--color-light-slate);
}

.modal-form__label {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-navy-blue-modal-40);
    border-radius: 4px;
    padding: 8px 16px;
}

.modal-form__label:focus-within,
.modal-form__textarea:focus {
    border-color: var(--color-iris);
}

.modal-form__label:focus-within .modal-form-input__icon path {
    fill: var(--color-iris);
}

.modal-form__label:not(:last-child) {
    margin-bottom: 8px;
}

.modal-form__input {
    width: 100%;
    border: 0;
    outline: 0;
    padding-inline: 5px 0;
}

.modal-form__textarea {
    border: 1px solid var(--color-navy-blue-modal-40);
    border-radius: 4px;
    outline: none;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    margin-bottom: 16px;
}

.modal-form__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-form__checkbox input {
    margin: 0 8px 0 0;
}

.privacy-text {
    margin: 0;
}

.privacy__link {
    color: var(--color-iris);
    text-decoration: underline;
}

.modal-form__button {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: 0;
    background-color: var(--color-iris);
    margin-left: 96px;
    font-weight: 500;
    color: var(--color-white);
    cursor: pointer;
}

.modal-form__button:hover{
    background-color: var(--color-ocean);
}
/* hero */
.hero {
    background: url("../images/hero-bg.jpg") center/cover no-repeat;
}

.overlay {
    background-color: var(--color-grey-70);
    padding-block: 188px;
    text-align: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    color: var(--color-white);
    margin-bottom: 48px;
}

.hero__button {
    padding: 16px 32px;
    color: var(--color-white);
    letter-spacing: 0.6px;
    line-height: 24px;
    font-weight: 500;
    background-color: var(--color-iris);
    border: 0;
    cursor: pointer;
}

.hero__button:hover {
    background-color: var(--color-ocean);
}

/* benefits */
.benefits {
    padding-block: 120px;
}

.benefits-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.benefits-card__icon {
    background-color: var(--color-cloud);
    padding: 24px 100px;
    margin-bottom: 8px;
}

.benefits-card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    color: var(--color-navy-blue);
}

.benefits-card__descr {
    line-height: 24px;
    color: var(--color-slate);
}


/* activity */
.activity {
    padding-bottom: 120px;
}

.activity__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
    text-align: center;
}

.activity-photos {
    display: flex;
    justify-content: space-between;
}

/* team */
.team {
    padding-block: 120px;
    background-color: var(--color-cloud);
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.72px;
    margin-bottom: 72px;
}

.team-list {
    justify-content: space-between;
}

.team-member:hover .member-socials-list {
    animation: showSocials 1s linear .5s 1 forwards;
}

@keyframes showSocials {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.team-member-info {
    padding: 32px 16px;
    text-align: center;
    background-color: var(--color-white);
}

.team-member__name {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-member__descr {
    color: var(--color-slate);
    margin-bottom: 12px;
}

.member-socials-list {
    opacity: 0;
    justify-content: space-between;
}

.member-socials__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-iris);
    color: var(--color-cloud);
}

/* customers */
.customers {
    padding-block: 120px;
}

.customers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
    color: var(--color-navy-blue);
    text-align: center;
    margin-bottom: 72px;
}

.customers-list {
    justify-content: space-between;
}

.customers-list__link {
    display: inline-block;
    padding: 16px 32px;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
}